<header class="header-background">
  <div class="header-section">
    <div class="header-headline">
      <h1 class="mat-h1">Shinycolors Utils</h1>
      <h2 class="mat-h2">샤니마스 유틸 모음</h2>
    </div>
  </div>
</header>
<main class="home-main">
  <div class="row">
    <div class="row-header">
      <h2>그페 관련 정보</h2>
    </div>
    <div class="feature-list">
      <a routerLink="score" class="feature-item">
        <mat-card>
          <mat-card-title> 그페 점수 계산 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            매칭 상대와 자신의 그레이드 정보를 바탕으로 점수를 계산합니다.
          </mat-card-content>
        </mat-card>
      </a>
      <a routerLink="fes_table" class="feature-item">
        <mat-card>
          <mat-card-title> 서폿 성능표 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            GRAD에서 사용되는 서폿의 성능표를 한번에 볼 수 있습니다.
          </mat-card-content>
        </mat-card>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="row-header">
      <h2>육성 관련 정보</h2>
    </div>
    <div class="feature-list">
      <a
        target="_blank"
        href="https://gall.dcinside.com/mgallery/board/view/?id=shinycolors&no=136531"
        class="feature-item"
      >
        <mat-card>
          <mat-card-title> 빵갤 대문 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            육성 관련 정보 대문
          </mat-card-content>
        </mat-card>
      </a>
      <a target="_blank" href="https://gall.dcinside.com/mgallery/board/view/?id=shinycolors&no=951383" class="feature-item">
        <mat-card>
          <mat-card-title> 제작자 그페 관련 글 </mat-card-title>
          <div class="card-divider"></div>
          <mat-card-content class="card-summary">
            육성 관련 정보
          </mat-card-content>
        </mat-card>
      </a>
     
    </div>
  </div>
</main>

