<mat-toolbar class="navbar mat-elevation-z6" color="primary">
  <a
    routerLink="/"
    routerLinkActive="nav-selected"
    [routerLinkActiveOptions]="{ exact: true }"
    mat-button
    class="title"
    >Shinycolors Utils</a
  >
  <a routerLink="score" routerLinkActive="nav-selected" mat-button
    >그페 점수 계산</a
  >
  <a routerLink="support_ability" routerLinkActive="nav-selected" mat-button
    >서폿 성능표</a
  >
  <div class="filler"></div>
  <button class="menu" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="lightTheme()">밝은 테마</button>
    <button mat-menu-item (click)="darkTheme()">어두운 테마</button>
  </mat-menu>
  <a target="_blank" href="https://gall.dcinside.com/mgallery/board/lists/?id=shinycolors" mat-button> 빵갤링크</a>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <mat-toolbar color="primary">
      <div class="filler"></div>
      <div class="mat-caption"> Made by デビタロ</div>
      <div class="filler"></div>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
